@import "tailwindcss";

/* Default body font */
body {
  font-family: var(--font-manrope);
}

/* Explicit font utilities */
.font-poppins {
  font-family: var(--font-poppins);
}

.font-manrope {
  font-family: var(--font-manrope);
}

.font-archivo {
  font-family: var(--font-archivo);
}


